<div class="bg-gray-800 w-full max-w-md p-8 space-y-8 rounded-xl shadow-lg">
  
  <div>
    <h2 class="mt-6 text-center text-3xl font-extrabold text-white">
      Esqueceu sua senha?
    </h2>
    <p class="mt-2 text-center text-sm text-gray-400">
      Não se preocupe! Digite seu e-mail abaixo para receber as instruções de recuperação.
    </p>
  </div>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-8 space-y-6" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="rounded-md shadow-sm">
      
      <div>
        <%= f.label :email, "Endereço de e-mail", class: "sr-only" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "appearance-none rounded-md relative block w-full px-3 py-3 border border-gray-700 bg-gray-900 text-gray-300 placeholder-gray-500 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Seu endereço de e-mail" %>
      </div>
      
    </div>

    <div>
      <%= f.submit "Enviar instruções", class: "group relative w-full flex justify-center py-3 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 focus:ring-offset-gray-800 cursor-pointer" %>
    </div>
  <% end %>

  <div class="text-center text-sm">
    <%= render "devise/shared/links" %>
  </div>

</div>